
.whole
{
  padding-top: 250px;
  background-color: darkcyan;
  padding-bottom: 200px;
}
.view
{ 
  padding-left: 700px;
height:100px;
width:50px;
padding-bottom: 50px;
}
.viit
{
  padding-left: 720px;
height:100px;
width:50px;
 padding-bottom: 50px;
}
.vipt
{
  padding-left: 710px;
  height:100px;
  width:50px;
   
}